<div id="<%= dom_id article %>">
  <p>
    <strong>Description short:</strong>
    <%= article.description_short %>
  </p>

  <p>
    <strong>Sell price:</strong>
    <%= article.sell_price %>
  </p>

  <p>
    <strong>Centralcode:</strong>
    <%= article.centralcode %>
  </p>

  <p>
    <strong>Description categori text:</strong>
    <%= article.description_categori_text %>
  </p>

  <p>
    <strong>Description search:</strong>
    <%= article.description_search %>
  </p>

  <p>
    <strong>Image uri:</strong>
    <%= article.image_uri %>
  </p>

</div>
