  <%# render 'cartitem_new', article: article %>

<%# turbo_frame_tag 'new_message', src: new_message_path(room_id: @room), target: '_top' %>
<% if !@cart.cartitems.blank? %>
  <% cartitem_for_article = @cart.cartitems.select{ |i| i.article_id == article.id } %> 
<% else %>
  <% cartitem_for_article = [] %>
<% end %>

<% if cartitem_for_article.first %>
      <%= form_with(url: update_q_cartitem_path(cartitem_for_article), local: false, method: :patch) do |form| %>
        <%= form.number_field :quantity_ordered, value: number_with_precision(cartitem_for_article.first.quantity_ordered, precision: 0), min: 0, style: 'width: 69px; display: inline-block;' %>
        <%= button_tag(style: 'display: inline-block;')  do %>
          <p class='button warning' style='margin-top: 10px;'><%= fa_icon('recycle', class: 'fa 3x') %></p>
        <% end %> 
      <% end %>
<% else %>
  <%= form_with(model: @cartitem, local: false) do |f| %>
    <%= f.hidden_field :price_ordered, value: article.sell_price %>
    <%= f.hidden_field :cart_id, value: @cart.id %>
    <%= f.hidden_field :article_id, value: article.id %>
    <%= f.hidden_field :fulfilled, value: false %>
    <%= f.number_field :quantity_ordered, min: 1, style: 'width: 69px; display: inline-block;', value: 0, oninput: 'this.form.requestSubmit();' %>
  <% end %>
<% end %>


