<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<div id="appointments">
  <% @appointments.each do |appointment| %>
    <%= render appointment %>
    <p>
      <%= link_to "Show this appointment", appointment %>
    </p>
  <% end %>
</div>

<%= link_to "New appointment", new_appointment_path %>
<div >
  <div class="grid-x grid-padding-x">
    <div class='cell small-6'>
      <h3><%= 'add' %></h3>
      <%= render "datepicker", appointment: @appointment, dates_to_disable: @dates_to_disable %>
      <p><%= t(".next_appointment", next_at: l(@next_appointment, format: :long)) %></p>
    </div>
    <div class="col-md-6">
      <h3><%= t ".appointments" %></h3>
      <%= render @appointments %>
    </div>
  </div>
</div>