<!DOCTYPE html>
<html>
  <head>
    <title>Seven</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="https://ga.jspm.io/npm:flatpickr@4.6.9/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='grid-x grid-padding-x'>
      <div class='cell small-12'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
